body {
    text-align: center;
    
}

section {
    padding: 0 10%;
}

.item_description {
    border-style: solid;
    border-width: 0 0 1px 0;
    word-wrap: break-word;
    text-align: left;
    margin-bottom: 15px;
}
.item_value {
    
    margin-left: 20px;
    margin-bottom: 15px;

}
.expense-list-container {
    flex-wrap: wrap;
}

.expense-list-container .item_value {
    display: inline;
    padding-right: 10px;
    border-style: solid;
    border-width: 0 1px 0 0;
}
.item__percentage {
    padding-left: 10px;
    display: inline;
}


.month-budget-title-container h2{
    padding-right: 5%;
}
.month-income-title-container h2{
    text-align: left;
    padding-right: 25%;
}

.month-expense-title-container h2{
    text-align: left;
    padding-right: 10%;
}

.selected-month h1 {
    display: inline;
    font-size: 3rem;
}

#month-title-box{
    padding: 5% 0;
}

.display-1 {
    padding-bottom: 20px;
}